body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 5em;
}
.header{
    margin: 0.5em;
}
    #logoprincipal{
        width: 5em;
        height: 5em;
    }
        #buscador{
            color: white;
            width: 35em; 
            border-radius: 0.3em;
            background-color: orange;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            padding-right: 1em;
            text-align: end;
        }
    #header_right{
        display: flex;
    }
        #registro, #favorito, #carrito{
            width: 1.5em;
            height: 1.5em;
        }

/*BARRA DE NAVEGACION*/
nav{       
    background-color: black ;
    color: white;
    font-weight: bolder;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }
    .categorias{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
        .subcat{
            margin: 1em;
            padding: 0.2em;
        }
    nav.cuadros div.subcat:hover{
        background-color: white;
        color: black;
        transition: 0.2s;
        transform: scale(1.2);
    }
    a{
        text-decoration: none;
    }
    nav a{
        color: white;
    }

/*TABLA DE INICIO DE SESION*/
section#iniciosesion{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
    table{
        border-radius: 0.5em;
        width: 40em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
        tr th{
            font-size: 1.6em;
        }
        label{
            font-size: 1.1em;
        }
            input#email, input#password{
                width: 98.4%;
            }
        
        td#divacceder{
            display: flex;
            justify-content: center;
        }
            div#acceder input{
                background-color: orange;
                color: white;
                padding: 0.5em;
                width: 10em;
                border: solid;
                text-align: center;
                font-weight: bolder;
                border-radius: 1em;
                font-size: 1.5em;
            }
                div#acceder input:hover{
                    background-color: white;
                    color: orange;
                    transition: 0.2s;
                }

            .centrar{ /*recordar contraseña y crear cuenta*/
                text-align: center;
            }
        td a{
            text-decoration: none;
            color: black;
        }



footer{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    position: relative;
    margin-top: 20em;
    padding-bottom: 2em;
    width: 100%;
}
    #mapa, #privacidad, #redes{ /*las 3 secciones del footer están agrupadas*/
        display: flex;
        flex-direction: column;
    }
        #logosredes{ /*agrupa el titulo de REDES SOCIALES y los iconos*/
            display: flex;
            justify-content: space-around;
        }
            #logosredes img{
                width: 1em;
                height: 1em;
            }
    /*para pantallas grandes a partir de 1180px el footer se mantiene abajo del todo*/
    @media all and (min-height:1180px) {
        footer{
            position: fixed;
            bottom: 0;
        }
    }
