<link rel="stylesheet" href="../assets/bootstrap-5.3.8-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/styles.css">



<div class="carousel slide">

    <div class="carousel-inner">
        <div class="carousel-item active">a</div>
        <div class="carousel-item">b</div>
        <div class="carousel-item">c</div>
    </div>

</div>

























<!-- 


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">

    <div class="carousel-inner">

        <div class="carousel-item active">

            <div class="row">

            <div class="col"><img src="./assets/img/carousel/1.png" alt="Image 2">a</div>

            <div class="col"><img src="./assets/img/carousel/2.png" alt="Image 2"></div>

            <div class="col"><img src="./assets/img/carousel/3.png" alt="Image 2"></div>

            </div>

        </div>

    <div class="carousel-item">

        <div class="row">

            <div class="col"><img src="./assets/img/carousel/4.png" alt="Image 2"></div>

            <div class="col"><img src="./assets/img/carousel/5.png" alt="Image 2"></div>

            <div class="col"><img src="./assets/img/carousel/1.jpg" alt="Image 2"></div>

        </div>

    </div>

    <div class="carousel-item">

        <div class="row">

            <div class="col"><img src="./assets/img/carousel/1.png" alt="Image 2"></div>

            <div class="col"><img src="./assets/img/carousel/2.png" alt="Image 2"></div>

            <div class="col"><img src="./assets/img/carousel/3.png" alt="Image 2"></div>

        </div>

    </div>

    </div>

</div>  -->