<link rel="stylesheet" href="../assets/bootstrap-5.3.8-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/styles.css">

<!-- en resoluciones movil -> hamburguesa -->
<nav class="navbar navbar-expand-sm bg-primary"> 
    <div class="container-fluid mx-5">
        <ul class="navbar-nav d-flex justify-content-between w-100">
            <li class="nav-item">
                <a class="nav-link" href="../pages/ListadoProductos.html">Guitarras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pages/ListadoProductos.html">Bajos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pages/ListadoProductos.html">Teclados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pages/ListadoProductos.html">Percusión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pages/ListadoProductos.html">Otros Instrumentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pages/ListadoProductos.html">Accesorios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pages/ListadoProductos.html">Construcción</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pages/ListadoProductos.html">Servicios de Reparación</a>
            </li>
        </ul>
    </div>
</nav>
