body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}/*coger colores mas claros*/

#main{
    flex: 1;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 5em;
}
.header{
    margin: 0.5em;
}
#logoprincipal{
    width: 5em;
    height: 5em;
}
#buscador{
    color: white;
    width: 35em; 
    border-radius: 0.3em;
    background-color: #ffa500;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 1em;
    text-align: end;
}
#header_right{
    display: flex;
}
#registro, #favorito, #carrito{
    width: 1.5em;
    height: 1.5em;
}






/*navbar*/
nav{       
    background-color: black ;
    color: white;
    font-weight: bolder;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }
.categorias{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.subcat{
    margin: 1em;
    padding: 0.2em;
}
nav.cuadros div.subcat:hover{
    background-color: white;
    color: black;
    transition: 0.2s;
    transform: scale(1.2);
}
a{
    text-decoration: none;
}
nav a{
    color: white;
}
















.cuadros{ /*agrupa 3 seeciones: las 3 img de info, las main categories y los productos en tendencia*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
    .tituloseccion{
        background-color: orange;
        padding: 0.5em;
        margin: 0.5em;
        margin-bottom: 2em;
        color: white;
    }
    .categorias{
        display: flex;/*agrupa categoría superior, 3 img de info y tendencias*/
        justify-content: space-around; 
    }
        div.subcat span.imginfo, div.cuadros span{ /*titulos de imagenes y categorias*/
            margin-bottom: 2em;
            font-weight: bolder;
        }
        .subcat{ /*subcategorías de .cuadros*/
            margin: 1em;
            padding: 0.2em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            main .imgconoc{/*3 img de info*/
                width: 25em;
                height: 15em;
            }
                a#imglink span.imginfo{
                    color: black;
                }
        .subcat21, .subcat22{/*son las 2 filas de las categorías con imágenes*/
            display: flex;
            justify-content: center;
            width: 100%;           
        }
            main .maincategories{
                width: 20em;
                height: 12em;
            }

            /*tendencias*/
            main .imgtendencias{
                width: 20em;
                height: 7em;
            }
            div.preciotendencias{
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                div.preciotendencias span.precio{
                    font-size: 200%;
                    font-weight: bolder;
                }
                span.añadircarrito{
                    background-color: orange;
                    color: white;
                    padding: 0.5em;
                    border-radius: 0.9em;
                }
                span.añadircarrito:hover{
                    background-color: white;
                    color: orange;
                    border: solid orange;
                }                











/*
footer{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    
    width: 100%;
    padding-bottom: 2em;
}


#mapa, #privacidad, #redes{ /las 3 secciones del footer están agrupadas*
    display: flex;
    flex-direction: column;
}


#logosredes{ /agrupa el titulo de REDES SOCIALES y los iconos*
    display: flex;
    justify-content: space-around;
}


#logosredes img{
    width: 1em;
    height: 1em;
}*/


