:root{
    --primary-color: #ff9853;
    --secondary-color: #1e1cb9;
    overscroll-behavior: none; /* avoids overscroll in laptops*/
}

.bg-primary{
    background-color: var(--primary-color) !important;
}

.btn-primary{
    background-color: var(--primary-color);
    border-color: red;
}
